@tailwind base;
@tailwind components;
@tailwind utilities;

div {
    font-family: 'Noto Sans TC', sans-serif;
}

* {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

.owo {
    background: url(https://discussions.apple.com/content/attachment/1f2f065d-29ad-4339-95de-fb7b912cb59d);
    background-size: cover;
    background-position: center;
}
